body{
    background-color: turquoise;
}

h1{
color: blue;
border-bottom: 5px solid;
padding: 10px;
text-align: center;


}
h2{
    color: teal;
    border-bottom: 5px solid;
    padding: 10px;
    text-align: center;

}

p{
    color: rgba(236, 241, 238, 0.952);
    text-align: center;
}

img.d{
    width: 110px;
    height: 150px;
}

img.b{
    width: 130px;
    height: 130px;

}

a{
    font-size: larger;
    color: sienna;

}